/* PONER VARIABLES ANTES DEL IMPORT BOOTSTRAP */

/* Cambio tipografia preestablecida */
$font-family-sans-serif: 'Barlow', sans-serif;

/* Cambio colores preestablecidos */
$primary: #5265E1;
$secondary: #FA5959;
$grey: #6c757d;
$light: #e5e7e9;
$link-color: $grey;
$white: #fff;

/* Cambio de estilos del ancho Container >= 1140px*/
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px
);

/* NAV HEADER*/
$nav-pills-link-active-bg: $secondary;
$nav-tabs-link-active-border-color: $secondary !important;

/* FAQS */
$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;
$accordion-button-active-bg: none;
$accordion-button-active-color: $secondary;
$accordion-button-focus-box-shadow: none;



@import "../node_modules/bootstrap/scss/bootstrap";



.base-text-color {
    color: $grey;
}

.btn-light {
    color: $grey !important; 
}

/* Primera sección - Cambio visualización vertical  */
@media (min-width: 992px) {
    .alto-100vh {
        height: 100vh; /* vh --> 100% del viewport height (alto del dispositivo)*/
    }
}

/* Añadido tamañado de fuente más pequeña */
.text-small {
    font-size: x-small !important;
}

.letter-expand {
    letter-spacing: 2px;
}

/* HEADER NAV */

.btn-primary:hover {
    color: $primary !important;
    background: $white !important;
    box-shadow: inset 0 0 0 .125rem $primary !important;
}
.btn-secondary {
    font-size: small;
    &:hover{
        background: $white;
        color: $secondary !important;
        box-shadow: inset 0 0 0 .125rem $secondary !important;
        }    
}
.btn-light {
    &:hover{
        background: $white;
        color: $grey !important;
        box-shadow: inset 0 0 0 .125rem $grey !important;
        }    
}

header .nav-pills {
    .nav-link {
        &:hover,
        &:focus {   
            background: $white;
            color: $secondary !important;
        }
    }
}    

header .nav-tabs{
    border-bottom: 0;
    .nav-link {
        &:hover,
        &:focus {
            color: $secondary !important;
        }
    }
}  

/* FEATURES NAV */

.features-nav-tabs {
    .nav-link {
        &:hover,
        &:focus {
            color: $secondary;
        }
    }
}  

/* CARDS */

.width-cards {
    width: 250px !important;
}
.card-body {
    color: $grey;
}

.border-rounded {
    border-radius: 15px !important;
}

.w-img-cards {
    max-width: 70px !important;
    max-height: 70px !important;
}

.margin-top-lg-cd2 {
    @media (min-width: 1200px) {
        margin-top: 30px !important;
    }
}
.margin-top-lg-cd3 {
    @media (min-width: 1200px) {
        margin-top: 60px !important;
    }
}

/* FOOTER */

footer p {
    color: $white;
}

footer .btn-secondary {
    font-size: small;
    color: $white;
    &:hover{
        background: $white;
        color: $secondary !important;
        box-shadow: inset 0 0 0 .125rem $secondary !important;
        }    
}

