
/* Cambio tipografia preestablecida */
$font-family-sans-serif: 'Barlow', sans-serif;

/* Cambio colores preestablecidos */
$primary: #5265E1;
$secondary: #FA5959;
$grey: #6c757d;
$light: #e5e7e9;

$link-color: $grey;

.base-text-color {
    color: $grey;
}

.btn-light {
    color: $grey !important; 
}

/* Primera sección - Cambio visualización vertical  */
@media (min-width: 992px) {
    .alto-100vh {
        height: 100vh; /* vh --> 100% del viewport height (alto del dispositivo)*/
    }
}

/* Cambio de estilos del ancho Container >= 1140px*/
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px
);

/* Añadido tamañado de fuente más pequeña */
.text-small {
    font-size: x-small !important;
}


/* NAV HEADER*/

$nav-pills-link-active-bg: $secondary;
$nav-tabs-link-active-border-color: $secondary !important;
$nav-link-hover-bg: none !important; /* NO EXISTE ESTA VARIABLE para el bg :(  */

.letter-expand {
    letter-spacing: 2px;
  }


/* NAV FEATURES Hover */
.nav-tabs{
    .nav-link {
        &:hover,
        &:focus {
            color: $secondary !important;
        }
    }
}    


/* CARDS */

.width-cards {
    width: 250px !important;
}
.card-body {
    color: $grey;
}

.border-rounded {
    border-radius: 15px !important;
}

/* Margin top CARDS en lg */
.margin-top-lg-cd2 {
    margin-top: 30px !important;
}
.margin-top-lg-cd3 {
    margin-top: 60px !important;
}

/* Tamaño IMG de CARDS */
.w-img-cards {
    max-width: 70px !important;
    max-height: 70px !important;
}


/* FAQS */

$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;
$accordion-button-active-bg: none;
$accordion-button-active-color: $secondary;


/*
.forma-rectangulo {
    width: 250px; 
    height: 100px; 
    border: 3px solid #555;
    background: #428bca;
}
*/

@import "../node_modules/bootstrap/scss/bootstrap";